div1{
    background-color: blue;
    height: 100px;
    width: 100px;
}
div2{
    background-color: green;
     height: 100px;
    width: 100px;
}
div3{
    background-color: red;
     height: 100px;
    width: 100px;
}